footer {
    margin-top: 1em;
    border-top: 2px solid rgba(24, 84, 94, 0.5);
    padding-top: 1em;

    position: relative;
    display: block;
}

footer:before {
    content: "";
    background: url('../../images/mini-drop.png') no-repeat scroll center center #f8f6f4;
    visibility: visible;

    position: absolute;
    height: 32px;
    width: 32px;
    left: 50%;
    top: -16px;
    margin-left: -16px;
}

#block-menu-menu-footer-navigation ul {
    padding: 0;
    text-align: center;
}

#block-menu-menu-footer-navigation li {
    padding: 0;
    list-style: none;
    white-space: nowrap;
}

@media all and (min-width: 480px) {

    #block-menu-menu-footer-navigation li {
        display: inline;
    }

    #block-menu-menu-footer-navigation li:not(:first-child) {
        padding: 0 0 0 1.4em;
    }

}

@media all and (min-width: 960px) {

}
