.view-front-news .views-row {
    margin-bottom: 1em;
    border-bottom: 2px solid rgba(24, 84, 94, 0.5);
    padding-bottom: 1em;

    position: relative;
    display: block;
}

.view-front-news .views-row:after {
    content: "";
    background: url('../../images/mini-drop.png') no-repeat scroll center center #f8f6f4;
    visibility: visible;

    position: absolute;
    height: 32px;
    width: 32px;
    left: 50%;
    margin-left: -16px;
}

.view-front-news .views-row:last-child {
    border-bottom: none;
}

.view-front-news .views-row:last-child:after {
    background: none;
    height: 0;
    width: 0;
}

@media all and (min-width: 960px) {

    .view-front-news .views-row {
        border: none;
        float: left;
        margin-right: 5%;
        width: 30%;
    }

    .view-front-news .views-row:last-child {
        float: right;
        margin-right: 0;
    }

    .view-front-news .views-row:after {
        background: none;
        height: 0;
        width: 0;
    }
}
