html {
    font-family: "Raleway", "Helvetica Neue",Helvetica,Arial,"Nimbus Sans L",sans-serif;
    font-size: 15px;
    line-height: 1.6em;
}

body {
    background-color: #F8F6F4;
    color: #5F5F5F;
    margin: 0;
    padding: 0;
}

a {
    color: #0084AA;
    transition: all 300ms ease 0s;
    font-weight: 700;
    text-decoration: none;
}

a:hover, a:active {
    color: #6CD2EA;
}

h1, h2, h3, h5, h5, h6 {
    font-family: "Raleway",sans-serif;
    text-transform: uppercase;
    line-height: 1.2em;
}

h1 {
    color: #18545E;
    font-size: 1.667em;
    font-weight: 800;
    width: 100%;
}

h2 {
    color: #18545E;
    font-size: 1.267em;
    font-weight: 800;
}

h3 {
}

h4 {
}

h5 {
}

h6 {
}

.page__title, .node__title, .block__title, .comments__title, .comments__form-title, .comment__title {
    margin-bottom: .8em;
}

#page {
    max-width: none;
}

.page-inner {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

@media all and (min-width: 480px) {

    #main {
        padding: 0;
    }

}

@media all and (min-width: 960px) {

}
