#header {
    background: url('../../images/header-sm.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    color: white;
    font-weight: 200;
    font-size: 1.267em;
}

#header a {
    color: #FFFFFF;
}

.header__secondary-menu {
    float: none;
    text-align: center;
    width: 100%;
}

#site-name a, h1#site-name a {
    color: #FFFFFF;
    display: block;
    font-family: "Raleway",sans-serif;
    font-size: 2em;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: none;
}

.header__name-and-slogan {
    display: none;
}

#logo {
    background: url('../../images/mobile-logo.png') center center no-repeat;
    background-size: contain;
    display: block;
    margin: 1em 0;
    width: 100%;
    min-height: 100px;
}

#logo img {
    display: none;
}

#block-block-1 {
    text-align: center;
}

#navigation {
    height: auto;
    position: static;
    margin: 1em 0;
}

#navigation nav#main-menu li {
    display: block;
    clear: both;
    margin: 0 0 1em;
    padding: 0;
    width: 100%;
}

#navigation nav#main-menu a {
    background-color: #0084AA;
    color: #FFFFFF;
    display: block;
    font-size: 1.267em;
    margin: 0 auto;
    max-width: 480px;
    padding: 1em;
    text-align: center;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#navigation nav#main-menu a:hover,
#navigation nav#main-menu a:active {
    background-color: #18545E;
}

@media all and (min-width: 480px) {
    #header {
        background-image: url('../../images/header-md.jpg');
    }

    #header .page-inner {
        position: relative;
    }

    #header:before {
        background: url('../../images/states.png') no-repeat right center;
        position: absolute;
        height: 231px;
        right: 0;
        width: 110%;
    }

    .header__secondary-menu {
        position: absolute;
        right: 0;
        text-align: right;
        top: 0;
    }

    .header__name-and-slogan {
        display: block;
        position: absolute;
        top: 3em;
        left: 11em;
        font-size: .8em;
    }

    .region-header {
        position: absolute;
        left: 8.5em;
        top: 7em;
        max-width: 285px;
    }

    #logo {
        background-image: none;
        float: left;
        margin-left: 0;
        text-align: left;
    }

    #logo img {
        display: block;
    }

    #site-name a, h1#site-name a {
        margin-top: .8em;
    }

    .header__region {
        float: left;
    }

    #navigation nav#main-menu {
        display: table;
        width: 100%;
    }

    #navigation nav#main-menu ul {
        display: table-row;
        table-layout: auto;
    }

    #navigation nav#main-menu ul > li {
        clear: none;
        display: table-cell;
        float: none;
        padding: 0 .2em;
        width: auto;
    }

}

@media all and (min-width: 960px) {
    #header {
        background-image: url('../../images/header-lg.jpg');
    }

    .header__name-and-slogan {
        display: block;
        position: absolute;
        top: 2em;
        left: 9.6em;
        font-size: 1em;
    }

    .region-header {
        left: 9.8em;
        max-width: none;
        top: 8em;
    }
}
